<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Layout - Design System</title>

    
    <link rel="stylesheet" href="/design-system/styles/fonts.min.css" media="screen">

    
    
    <link rel="stylesheet" href="/design-system/styles/styles.min.css" media="screen">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A design system built for fast, responsive, and accessible websites.">
  </head>
  <body>
    <main>
      <header class="uw-border-bottom uw-pad-x-2 uw-mar-bottom-4">
        <nav class="uw-container--lg uw-container--center">
          <p class="uw-font-size-sm uw-mar-all-0">
            <a href="/design-system">Design System</a>
          </p>
        </nav>
      </header>

      <article class="uw-container--lg uw-container--center">
        
  <div class="uw-grid">
    <div id="page-summary" class="uw-prose uw-col-8-md uw-col-6-lg">
      <h1>Layout</h1>
      
        <p class="uw-font-size-sm">Utilities for structuring app and website pages.</p>
      
      
        <ul class="uw-font-size-sm">
          
            <li><a href="#grid-system">Grid System</a></li>
          
            <li><a href="#margins-and-padding">Margins and Padding</a></li>
          
        </ul>
      
    </div>
    <hr>
  </div>
  <div class="uw-grid">
  <div class="uw-prose uw-col-8-md uw-col-6-lg">
    <h2 id="grid-system">Grid System</h2>

<p>The grid system is based around a 12 column layout. Layouts built with this
system are responsive by default and will adapt to mobile and desktop screens.</p>

<h3 id="evenly-spaced-columns">Evenly Spaced Columns</h3>

<p>An evenly spaced grid can be built by placing one or more <code>.uw-col</code> elements
inside of a container with the <code>.uw-grid</code> class. By default, space will be
allocated evenly between all <code>.uw-col</code> elements:</p>

  </div>
</div>


<div class="uw-grid">
  <div class="docs-example uw-col-12">
    

    <div class="docs-example__live uw-prose">

<div class="uw-grid">
  <div class="uw-col">
    <div class="inner"><code>.uw-col</code></div>
  </div>
</div>

<div class="uw-grid">
  <div class="uw-col">
    <div class="inner"><code>.uw-col</code></div>
  </div>
  <div class="uw-col">
    <div class="inner"><code>.uw-col</code></div>
  </div>
</div>

<div class="uw-grid">
  <div class="uw-col">
    <div class="inner"><code>.uw-col</code></div>
  </div>
  <div class="uw-col">
    <div class="inner"><code>.uw-col</code></div>
  </div>
  <div class="uw-col">
    <div class="inner"><code>.uw-col</code></div>
  </div>
  <div class="uw-col">
    <div class="inner"><code>.uw-col</code></div>
  </div>
</div>

</div>

    <div class="docs-example__code uw-border uw-border-radius uw-mar-top-2">
      <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-grid&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-grid&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-grid&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>
    </div>
  </div>
</div>


<div class="uw-grid">
  <div class="uw-prose uw-col-8-md uw-col-6-lg">
    <h3 id="weighted-columns">Weighted Columns</h3>

<p>The grid layout layouts where some columns are wider or narrower than others.
Weighted columns are configured by appending a number between 1 and 12 to the
column item class:
  </div>
</div>


<div class="uw-grid">
  <div class="docs-example uw-col-12">
    

    <div class="docs-example__live uw-prose">

<div class="uw-grid">
  <div class="uw-col-3">
    <div class="inner"><code>.uw-col-3</code></div>
  </div>
</div>

<div class="uw-grid">
  <div class="uw-col-6">
    <div class="inner"><code>.uw-col-6</code></div>
  </div>
</div>

<div class="uw-grid">
  <div class="uw-col-12">
    <div class="inner"><code>.uw-col-12</code></div>
  </div>
</div>

</div>

    <div class="docs-example__code uw-border uw-border-radius uw-mar-top-2">
      <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-grid&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col-3&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col-3<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-grid&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col-6&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col-6<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-grid&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col-12&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col-12<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>
    </div>
  </div>
</div>


<div class="uw-grid">
  <div class="uw-prose uw-col-8-md uw-col-6-lg">
    <h3 id="mixing-weighted-and-unweighted-columns">Mixing Weighted and Unweighted Columns</h3>

<p>If a grid layout uses both weighted and unweighted columns, the unweighted
columns will evenly occupy whatever amount of space is leftover after space has
been given to the weighted columns.
  </div>
</div>


<div class="uw-grid">
  <div class="docs-example uw-col-12">
    

    <div class="docs-example__live uw-prose">

<div class="uw-grid">
  <div class="uw-col-4">
    <div class="inner"><code>.uw-col-4</code></div>
  </div>
  <div class="uw-col">
    <div class="inner"><code>.uw-col</code></div>
  </div>
  <div class="uw-col">
    <div class="inner"><code>.uw-col</code></div>
  </div>
</div>

<div class="uw-grid">
  <div class="uw-col">
    <div class="inner"><code>.uw-col</code></div>
  </div>
  <div class="uw-col-6">
    <div class="inner"><code>.uw-col-6</code></div>
  </div>
  <div class="uw-col">
    <div class="inner"><code>.uw-col</code></div>
  </div>
</div>

<div class="uw-grid">
  <div class="uw-col">
    <div class="inner"><code>.uw-col</code></div>
  </div>
  <div class="uw-col-8">
    <div class="inner"><code>.uw-col-8</code></div>
  </div>
</div>

</div>

    <div class="docs-example__code uw-border uw-border-radius uw-mar-top-2">
      <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-grid&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col-4&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col-4<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-grid&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col-6&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col-6<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-grid&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col-8&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col-8<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>
    </div>
  </div>
</div>


<div class="uw-grid">
  <div class="uw-prose uw-col-8-md uw-col-6-lg">
    <h3 id="responsive-columns">Responsive Columns</h3>

<p>Responsive columns can change weight based on the width of the screen and are
specified with the form:</p>

<p><code>.uw-col-{span}-{breakpoint}</code></p>

<p>Where <em>span</em> is a number from <code>1</code> to <code>12</code>. This sets the width of the column
when the screen is larger than the breakpoint.</p>

<p>Where <em>breakpoint</em> is one of:</p>

<ul>
<li><code>sm</code> for screens larger than <code>32em</code></li>
<li><code>md</code> for screens larger than <code>48rem</code></li>
<li><code>lg</code> for screens larger than <code>64rem</code></li>
</ul>

  </div>
</div>


<div class="uw-grid">
  <div class="docs-example uw-col-12">
    
      <p class="docs-example__screen-indicator">
        <span class="uw-display-block uw-display-none-sm">
          <code>screen &lt; sm</code>
        </span>
        <span class="uw-display-none uw-display-block-sm uw-display-none-md">
          <code>sm &le; screen &lt; md</code>
        </span>
        <span class="uw-display-none uw-display-block-md uw-display-none-lg">
          <code>md &le; screen &lt; lg</code>
        </span>
        <span class="uw-display-none uw-display-block-lg">
          <code>lg &le; screen</code>
        </span>
      </p>
    

    <div class="docs-example__live uw-prose">

<div class="uw-grid">
  <div class="uw-col-12 uw-col-6-md">
    <div class="inner">
      <span>
        <code>.uw-col-12</code>
        <code>.uw-col-6-md</code>
      </span>
    </div>
  </div>
  <div class="uw-col">
    <div class="inner">
      <code>.uw-col</code>
    </div>
  </div>
</div>

</div>

    <div class="docs-example__code uw-border uw-border-radius uw-mar-top-2">
      <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-grid&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col-12 uw-col-6-md&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">span</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col-12<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col-6-md<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;</span>
      <span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>
    </div>
  </div>
</div>


<div class="uw-grid">
  <div class="uw-prose uw-col-8-md uw-col-6-lg">
    <h2 id="margins-and-padding">Margins and Padding</h2>

<p>Element margins and padding can be set with built-in utility classes. Spacing
utility classes are written in the form:</p>

<p><code>.uw-{property}-{sides}-{size}</code></p>

<p>Where <em>property</em> is one of:</p>

<ul>
<li><code>mar</code> for classes that set <code>margin</code></li>
<li><code>pad</code> for classes that set <code>padding</code></li>
</ul>

<p>Where <em>sides</em> is one of:</p>

<ul>
<li><code>top</code></li>
<li><code>right</code></li>
<li><code>bottom</code></li>
<li><code>left</code></li>
<li><code>x</code> for classes that set both <code>top</code> and <code>bottom</code></li>
<li><code>y</code> for classes that set both <code>left</code> and <code>right</code></li>
<li><code>all</code> for classes that set all sides</li>
</ul>

<p>Where <em>size</em> is one of:</p>

<ul>
<li><code>0</code> for classes that remove the margin or padding</li>
<li><code>1</code> for classes that set the margin or padding to <code>0.5rem</code></li>
<li><code>2</code> for classes that set the margin or padding to <code>1rem</code></li>
<li><code>3</code> for classes that set the margin or padding to <code>1.5rem</code></li>
<li><code>4</code> for classes that set the margin or padding to <code>2rem</code></li>
<li><code>5</code> for classes that set the margin or padding to <code>2.5rem</code></li>
<li><code>6</code> for classes that set the margin or padding to <code>3rem</code></li>
</ul>

<h3 id="responsive-margins-and-padding">Responsive Margins and Padding</h3>

<p>Element margins and padding can be tailored to specific screen sizes by adding a
breakpoint to a spacing utility class. Responsive spacing utility classes are
written in the form:</p>

<p><code>.uw-{property}-{sides}-{size}-{breakpoint}</code></p>

<p>Where <em>property</em>, <em>sides</em>, and <em>size</em> are the same as above.</p>

<p>Where <em>breakpoint</em> is one of:</p>

<ul>
<li><code>sm</code> for screens larger than <code>32em</code></li>
<li><code>md</code> for screens larger than <code>48rem</code></li>
<li><code>lg</code> for screens larger than <code>64rem</code></li>
</ul>

  </div>
</div>



      </article>

      <footer class="uw-border-top uw-pad-x-2 uw-mar-top-4">
        <div class="uw-container--lg uw-container--center">
          <p class="uw-text-align-center"><em>A copyright notice</em></p>
        </div>
      </footer>
    </main>

    
    <script src="/design-system/scripts/vendor/clipboard.2.0.4.min.js"></script>
    <script>
      new ClipboardJS('.docs-uses-clipboard');
    </script>
  </body>
</html>
