<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Layout - Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
      <meta name="description" content="Utilities for structuring apps and webpages.">
    

    <link rel="stylesheet" href="/design-system/site.css" media="screen">
  </head>
  <body>
    <main>
      <header class="uw-border-bottom uw-pad-y-sm uw-mar-bottom-lg">
        <nav class="uw-container--lg uw-container--center">
          <p class="uw-font-size-md uw-mar-all-none">
            <a href="/design-system">Design System</a>
          </p>
        </nav>
      </header>

      <article class="uw-container--lg uw-container--center">
        
  <div id="page-summary" class="uw-typeset uw-font-size-md">
    <h1>Layout</h1>
    
      <p class="uw-line-length-sm">Utilities for structuring apps and webpages.</p>
    
    
      <ul>
        
          <li><a href="#grids">Grids</a></li>
        
          <li><a href="#spacing">Spacing</a></li>
        
          <li><a href="#breakpoints">Breakpoints</a></li>
        
      </ul>
    
  </div>
  <hr>
  <div class="uw-typeset uw-line-length-md">
  <h2 id="grids">Grids</h2>

<p>The design system provides a 12-column grid system built on the CSS Flexbox API.
Flexbox was chosen over the CSS Grid API because of greater browser support and
because it better represented the layout patterns used by the design system.</p>

<h3 id="grid-wrapper">Grid wrapper</h3>

<p>All grid columns must have a grid wrapper as a direct parent. A grid wrapper is
an element with either the class <code>.uw-grid</code> or with the SCSS mixin
<code>@include grid();</code> applied.</p>

<p>The following is an example of a grid wrapper:</p>

</div>


<div class="docs-example">
  

  

  <div class="docs-example__code uw-border uw-border-radius">
    <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-grid&#34;</span><span class="p">&gt;</span>
  <span class="c">&lt;!-- grid columns will go here --&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>
  </div>
</div>


<div class="uw-typeset uw-line-length-md">
  <h3 id="auto-span-columns">Auto span columns</h3>

<p>Auto span columns use the class <code>.uw-col</code> or the SCSS mixin <code>@include column();</code>
and automatically resize to take up the available space in a grid.</p>

<h4 id="using-auto-span-columns">Using auto span columns</h4>
</div>


<div class="uw-table__container uw-mar-top-sm">
  <table>
<thead>
<tr>
<th>Context</th>
<th>Usage</th>
</tr>
</thead>

<tbody>
<tr>
<td><strong>SCSS mixin</strong></td>
<td><code>@include column();</code></td>
</tr>

<tr>
<td><strong>CSS class</strong></td>
<td><code>.uw-col</code></td>
</tr>
</tbody>
</table>
</div>


<div class="uw-typeset uw-line-length-md">
  <h4 id="auto-span-column-example">Auto span column example</h4>
</div>


<div class="docs-example">
  

  
    <div class="docs-example__live uw-typeset">

<div class="uw-grid">
  <div class="uw-col"><div class="inner"><code>.uw-col</code></div></div>
  <div class="uw-col"><div class="inner"><code>.uw-col</code></div></div>
  <div class="uw-col"><div class="inner"><code>.uw-col</code></div></div>
</div>

</div>
  

  <div class="docs-example__code uw-border uw-border-radius">
    <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-grid&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col&#34;</span><span class="p">&gt;&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col&#34;</span><span class="p">&gt;&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col&#34;</span><span class="p">&gt;&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>
  </div>
</div>


<div class="uw-typeset uw-line-length-md">
  <h3 id="fixed-span-columns">Fixed span columns</h3>

<p>Fixed span columns take up a number of grid columns chosen by the developer. The
number of columns to span can be between <code>1</code> and <code>12</code>. More information about
how different span widths are computed is available in the
<a href="#column-span-tokens">column span token table</a>.</p>

<h4 id="using-fixed-span-columns">Using fixed span columns</h4>
</div>


<div class="uw-table__container uw-mar-top-sm">
  <table>
<thead>
<tr>
<th>Context</th>
<th>Usage</th>
<th>Example</th>
</tr>
</thead>

<tbody>
<tr>
<td><strong>SCSS mixin</strong></td>
<td><code>@include column(<a class="token" href="#column-span-tokens">span</a>);</code></td>
<td><code>@include column(4);</code></td>
</tr>

<tr>
<td><strong>CSS class</strong></td>
<td><code>.uw-col-<a class="token" href="#column-span-tokens">span</a></code></td>
<td><code>.uw-col-9</code></td>
</tr>
</tbody>
</table>
</div>


<div class="docs-example">
  

  
    <div class="docs-example__live uw-typeset">

<div class="uw-grid">
  <div class="uw-col-4"><div class="inner"><code>.uw-col-4</code></div></div>
</div>

<div class="uw-grid">
  <div class="uw-col-8"><div class="inner"><code>.uw-col-8</code></div></div>
</div>

<div class="uw-grid">
  <div class="uw-col-12"><div class="inner"><code>.uw-col-12</code></div></div>
</div>

</div>
  

  <div class="docs-example__code uw-border uw-border-radius">
    <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-grid&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col-4&#34;</span><span class="p">&gt;&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col-4<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-grid&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col-8&#34;</span><span class="p">&gt;&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col-8<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-grid&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-col-12&#34;</span><span class="p">&gt;&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;inner&#34;</span><span class="p">&gt;&lt;</span><span class="nt">code</span><span class="p">&gt;</span>.uw-col-12<span class="p">&lt;/</span><span class="nt">code</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>
  </div>
</div>


<div class="uw-typeset uw-line-length-md">
  <h3 id="responsive-span-columns">Responsive span columns</h3>

<p>Often a column span that makes sense on desktops is too narrow on mobile or a
span that makes sense on mobile is too wide for desktops. Responsive span
columns help fix this problem by changing column span based on the width of the
screen.</p>

<p>Responsive span column classes and mixins require a span value and one of the
<a href="#">breakpoint tokens</a>. The span value will be applied to the column whenever
the screen is equal-to or larger-than the breakpoint. If multiple responsive
column classes or mixins apply at the same time, the span value associated with
the largest breakpoint is used.</p>

<h4 id="using-responsive-span-columns">Using responsive span columns</h4>

</div>


<div class="uw-table__container uw-mar-top-sm">
  <table>
<thead>
<tr>
<th>Context</th>
<th>Usage</th>
<th>Example</th>
</tr>
</thead>

<tbody>
<tr>
<td><strong>SCSS mixin</strong></td>
<td><code>@include column(<a class="token" href="#column-span-tokens">span</a>, <a class="token" href="#breakpoint-tokens">breakpoint</a>);</code></td>
<td><code>@include column(6, 'md');</code></td>
</tr>

<tr>
<td><strong>CSS class</strong></td>
<td><code>.uw-col-<a class="token" href="#column-span-tokens">span</a>-<a class="token" href="#breakpoint-tokens">breakpoint</a></code></td>
<td><code>.uw-col-6-md</code></td>
</tr>
</tbody>
</table>
</div>


<div class="uw-typeset uw-line-length-md">
  <h3 id="column-span-tokens">Column span tokens</h3>

<p>The following span tokens are supported by the design system grid. If an element
uses a span token not supported by the grid, that element will behave as an auto
span column.
</div>


<div class="uw-table__container uw-mar-top-sm">
  <table>
<thead>
<tr>
<th>Token</th>
<th>Percent</th>
<th>Example</th>
</tr>
</thead>

<tbody>
<tr>
<td><code>1</code></td>
<td><code>8.333%</code></td>
<td><div class="uw-grid docs-span-example"><div class="uw-col-1"><div class="inner"><code>1</code></div></div></div></td>
</tr>

<tr>
<td><code>2</code></td>
<td><code>16.667%</code></td>
<td><div class="uw-grid docs-span-example"><div class="uw-col-2"><div class="inner"><code>2</code></div></div></div></td>
</tr>

<tr>
<td><code>3</code></td>
<td><code>25%</code></td>
<td><div class="uw-grid docs-span-example"><div class="uw-col-3"><div class="inner"><code>3</code></div></div></div></td>
</tr>

<tr>
<td><code>4</code></td>
<td><code>33.333%</code></td>
<td><div class="uw-grid docs-span-example"><div class="uw-col-4"><div class="inner"><code>4</code></div></div></div></td>
</tr>

<tr>
<td><code>5</code></td>
<td><code>41.667%</code></td>
<td><div class="uw-grid docs-span-example"><div class="uw-col-5"><div class="inner"><code>5</code></div></div></div></td>
</tr>

<tr>
<td><code>6</code></td>
<td><code>50%</code></td>
<td><div class="uw-grid docs-span-example"><div class="uw-col-6"><div class="inner"><code>6</code></div></div></div></td>
</tr>

<tr>
<td><code>7</code></td>
<td><code>58.333%</code></td>
<td><div class="uw-grid docs-span-example"><div class="uw-col-7"><div class="inner"><code>7</code></div></div></div></td>
</tr>

<tr>
<td><code>8</code></td>
<td><code>66.667%</code></td>
<td><div class="uw-grid docs-span-example"><div class="uw-col-8"><div class="inner"><code>8</code></div></div></div></td>
</tr>

<tr>
<td><code>9</code></td>
<td><code>75%</code></td>
<td><div class="uw-grid docs-span-example"><div class="uw-col-9"><div class="inner"><code>9</code></div></div></div></td>
</tr>

<tr>
<td><code>10</code></td>
<td><code>83.333%</code></td>
<td><div class="uw-grid docs-span-example"><div class="uw-col-10"><div class="inner"><code>10</code></div></div></div></td>
</tr>

<tr>
<td><code>11</code></td>
<td><code>91.667%</code></td>
<td><div class="uw-grid docs-span-example"><div class="uw-col-11"><div class="inner"><code>11</code></div></div></div></td>
</tr>

<tr>
<td><code>12</code></td>
<td><code>100%</code></td>
<td><div class="uw-grid docs-span-example"><div class="uw-col-12"><div class="inner"><code>12</code></div></div></div></td>
</tr>
</tbody>
</table>
</div>


<div class="uw-typeset uw-line-length-md">
  <h2 id="spacing">Spacing</h2>

<p>The design system provides a collection of design tokens for controlling the
spacing around elements. These tokens can be used to set margins and padding
with either SCSS mixins or CSS classes.</p>

<h3 id="spacing-tokens">Spacing tokens</h3>
</div>


<div class="uw-table__container uw-mar-top-sm">
  <table>
<thead>
<tr>
<th>Token</th>
<th>Value</th>
<th>Example</th>
</tr>
</thead>

<tbody>
<tr>
<td><code>'none'</code></td>
<td><code>0rem</code></td>
<td><div class="docs-spacing uw-pad-all-none"><div>Content</div></div></td>
</tr>

<tr>
<td><code>'xs'</code></td>
<td><code>0.5rem</code></td>
<td><div class="docs-spacing uw-pad-all-xs"><div>Content</div></div></td>
</tr>

<tr>
<td><code>'sm'</code></td>
<td><code>1rem</code></td>
<td><div class="docs-spacing uw-pad-all-sm"><div>Content</div></div></td>
</tr>

<tr>
<td><code>'md'</code></td>
<td><code>1.5rem</code></td>
<td><div class="docs-spacing uw-pad-all-md"><div>Content</div></div></td>
</tr>

<tr>
<td><code>'lg'</code></td>
<td><code>2rem</code></td>
<td><div class="docs-spacing uw-pad-all-lg"><div>Content</div></div></td>
</tr>

<tr>
<td><code>'xl'</code></td>
<td><code>2.5rem</code></td>
<td><div class="docs-spacing uw-pad-all-xl"><div>Content</div></div></td>
</tr>
</tbody>
</table>
</div>


<div class="uw-typeset uw-line-length-md">
  <h3 id="using-spacing-tokens">Using spacing tokens</h3>
</div>


<div class="uw-table__container uw-mar-top-sm">
  <table>
  <thead>
    <tr>
      <th>Context</th>
      <th>Usage</th>
      <th>Examples</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <strong>SCSS mixins</strong><br>Margin
      </td>
      <td>
        <code>@include margin-all(<a class="token" href="#spacing-tokens">spacing</a>)</code><br>
        <code>@include margin-top(<a class="token" href="#spacing-tokens">spacing</a>)</code><br>
        <code>@include margin-right(<a class="token" href="#spacing-tokens">spacing</a>)</code><br>
        <code>@include margin-bottom(<a class="token" href="#spacing-tokens">spacing</a>)</code><br>
        <code>@include margin-left(<a class="token" href="#spacing-tokens">spacing</a>)</code><br>
        <code>@include margin-x(<a class="token" href="#spacing-tokens">spacing</a>)</code><br>
        <code>@include margin-y(<a class="token" href="#spacing-tokens">spacing</a>)</code>
      </td>
      <td>
        <code>@include margin-all('none')</code><br>
        <code>@include margin-top('xs')</code><br>
        <code>@include margin-right('sm')</code><br>
        <code>@include margin-bottom('md')</code><br>
        <code>@include margin-left('lg')</code><br>
        <code>@include margin-x('xl')</code><br>
        <code>@include margin-y('none')</code>
      </td>
    </tr>
    <tr>
      <td>
        <strong>SCSS mixins</strong><br>Padding
      </td>
      <td>
        <code>@include padding-all(<a class="token" href="#spacing-tokens">spacing</a>)</code><br>
        <code>@include padding-top(<a class="token" href="#spacing-tokens">spacing</a>)</code><br>
        <code>@include padding-right(<a class="token" href="#spacing-tokens">spacing</a>)</code><br>
        <code>@include padding-bottom(<a class="token" href="#spacing-tokens">spacing</a>)</code><br>
        <code>@include padding-left(<a class="token" href="#spacing-tokens">spacing</a>)</code><br>
        <code>@include padding-x(<a class="token" href="#spacing-tokens">spacing</a>)</code><br>
        <code>@include padding-y(<a class="token" href="#spacing-tokens">spacing</a>)</code>
      </td>
      <td>
        <code>@include padding-all('none')</code><br>
        <code>@include padding-top('xs')</code><br>
        <code>@include padding-right('sm')</code><br>
        <code>@include padding-bottom('md')</code><br>
        <code>@include padding-left('lg')</code><br>
        <code>@include padding-x('xl')</code><br>
        <code>@include padding-y('none')</code>
      </td>
    </tr>
    <tr>
      <td>
        <strong>CSS classes</strong><br>Margin
      </td>
      <td>
        <code>.uw-mar-all-<a class="token" href="#spacing-tokens">spacing</a></code><br>
        <code>.uw-mar-top-<a class="token" href="#spacing-tokens">spacing</a></code><br>
        <code>.uw-mar-right-<a class="token" href="#spacing-tokens">spacing</a></code><br>
        <code>.uw-mar-bottom-<a class="token" href="#spacing-tokens">spacing</a></code><br>
        <code>.uw-mar-left-<a class="token" href="#spacing-tokens">spacing</a></code><br>
        <code>.uw-mar-x-<a class="token" href="#spacing-tokens">spacing</a></code><br>
        <code>.uw-mar-y-<a class="token" href="#spacing-tokens">spacing</a></code>
      </td>
      <td>
        <code>.uw-mar-all-none</code><br>
        <code>.uw-mar-top-xs</code><br>
        <code>.uw-mar-right-sm</code><br>
        <code>.uw-mar-bottom-md</code><br>
        <code>.uw-mar-left-lg</code><br>
        <code>.uw-mar-x-xl</code><br>
        <code>.uw-mar-y-none</code>
      </td>
    </tr>
    <tr>
      <td>
        <strong>CSS classes</strong><br>Padding
      </td>
      <td>
        <code>.uw-pad-all-<a class="token" href="#spacing-tokens">spacing</a></code><br>
        <code>.uw-pad-top-<a class="token" href="#spacing-tokens">spacing</a></code><br>
        <code>.uw-pad-right-<a class="token" href="#spacing-tokens">spacing</a></code><br>
        <code>.uw-pad-bottom-<a class="token" href="#spacing-tokens">spacing</a></code><br>
        <code>.uw-pad-left-<a class="token" href="#spacing-tokens">spacing</a></code><br>
        <code>.uw-pad-x-<a class="token" href="#spacing-tokens">spacing</a></code><br>
        <code>.uw-pad-y-<a class="token" href="#spacing-tokens">spacing</a></code>
      </td>
      <td>
        <code>.uw-pad-all-none</code><br>
        <code>.uw-pad-top-xs</code><br>
        <code>.uw-pad-right-sm</code><br>
        <code>.uw-pad-bottom-md</code><br>
        <code>.uw-pad-left-lg</code><br>
        <code>.uw-pad-x-xl</code><br>
        <code>.uw-pad-y-none</code>
      </td>
    </tr>
  </tbody>
</table>
</div>


<div class="uw-typeset uw-line-length-md">
  <h2 id="breakpoints">Breakpoints</h2>

<p>The design system defines the following breakpoints. The accompanying breakpoint
tokens are used throughout the design system to adapt apps and webpages to
different screen sizes.</p>

<h3 id="breakpoint-tokens">Breakpoint tokens</h3>
</div>


<div class="uw-table__container uw-mar-top-sm">
  <table>
<thead>
<tr>
<th>Token</th>
<th>Size (<code>rem</code>)</th>
<th>Size (<code>px</code>)</th>
</tr>
</thead>

<tbody>
<tr>
<td><code>'sm'</code></td>
<td><code>32rem</code></td>
<td><code>512px</code></td>
</tr>

<tr>
<td><code>'md'</code></td>
<td><code>48rem</code></td>
<td><code>768px</code></td>
</tr>

<tr>
<td><code>'lg'</code></td>
<td><code>64rem</code></td>
<td><code>1024px</code></td>
</tr>
</tbody>
</table>
</div>


<div class="uw-typeset uw-line-length-md">
  <h3 id="using-breakpoint-tokens">Using breakpoint tokens</h3>

<p>The breakpoint tokens are used throughout the design system to create
<a href="#using-responsive-span-columns">responsive span columns</a> and
<a href="../typography#using-responsive-font-sizes">responsive font sizes</a>.</p>

<p>Whenever other design system APIs use breakpoints to selectively apply styles,
those styles will always be applied on screens that are <strong>equal to or larger
than</strong> the breakpoint&rsquo;s size.</p>

</div>



      </article>

      <footer class="uw-border-top uw-pad-y-sm uw-mar-top-lg">
        <div class="uw-container--lg uw-container--center">
          <p class="uw-text-align-center"><em>A copyright notice</em></p>
        </div>
      </footer>
    </main>

    <script src="/design-system/vendor.js"></script>
    <script src="/design-system/site.js"></script>
  </body>
</html>
