<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Components - Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
      <meta name="description" content="A design system built for fast, responsive, and accessible websites.">
    

    
<link rel="stylesheet" href="/design-system/styles/fonts.min.a48f64c576980764630eca488edda4c5482d9b3e206d34322e0b62357757ce11.css" media="screen" />



<link rel="stylesheet" href="/design-system/styles/styles.min.1679a928ffbafd38506acb182e66782c70131cbfbe3d98c3ea4ddb57c005cf2c.css" media="screen">

  </head>
  <body>
    <main>
      <header class="uw-border-bottom uw-pad-y-2 uw-mar-bottom-4">
        <nav class="uw-container--lg uw-container--center">
          <p class="uw-font-size-sm uw-mar-all-0">
            <a href="/design-system">Design System</a>
          </p>
        </nav>
      </header>

      <article class="uw-container--lg uw-container--center">
        
  

      </article>

      <footer class="uw-border-top uw-pad-y-2 uw-mar-top-4">
        <div class="uw-container--lg uw-container--center">
          <p class="uw-text-align-center"><em>A copyright notice</em></p>
        </div>
      </footer>
    </main>

    
<script src="/design-system/vendor.min.c7a10a5cf1574ff5efbe38630ff3bd4fbf6fbc4a587393ff7cf3f7bbb985dc03.js"></script>


<script src="/design-system/scripts/scripts.min.f4272f5f2e72a281945357d7e6857a5a4b132a7f80a9adcff4a88af16ba6abfc.js"></script>

  </body>
</html>
