<html lang="en">
  <head>
    <title>{{ block "title" . }}{{ .Page.Title }} - {{ .Site.Title }}{{ end }}</title>

    {{ $fonts := resources.Get "styles/fonts.scss" | toCSS }}
    <link rel="stylesheet" href="{{ $fonts.Permalink }}" media="screen">

    {{ $opts := (dict "includePaths" (slice "node_modules")) }}
    {{ $styles := resources.Get "styles/styles.scss" | resources.ToCSS $opts }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <main>
      <header class="uw-border-bottom uw-pad-top-sm uw-pad-bottom-sm uw-mar-bottom-lg">
        <nav class="uw-container--lg uw-container--center">
          <p class="uw-font-size-sm uw-mar-all-none">
            <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
          </p>
        </nav>
      </header>

      <article class="uw-container--lg uw-container--center">
        <div class="uw-grid">
          {{ block "main" . }}
            <div class="uw-prose uw-col-8-md uw-col-6-lg">
              <p><em>No content</em></p>
            </div>
          {{ end }}
        </div>
      </article>

      <footer class="uw-border-top uw-pad-top-sm uw-pad-bottom-sm uw-mar-top-lg">
        <div class="uw-container--lg uw-container--center">
          <p class="uw-text-align-center"><em>A copyright notice</em></p>
        </div>
      </footer>
    </main>
  </body>
</html>
