<html>
  <head>
    <title>{{ block "title" . }}{{ .Page.Title }} - {{ .Site.Title }}{{ end }}</title>
    {{ $style := resources.Get "sass/styles.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">
  </head>
  <body>
    <main class="uw-container uw-container--center uw-container--large">
      <header>
        {{ block "header" . }}
          <p class="uw-h1">{{ .Site.Title }}</p>
        {{ end }}
      </header>

      <aside>{{ partial "sidebar" . }}</aside>

      <article>{{ block "main" . }}{{ end }}</article>

      <footer>{{ block "footer" . }}{{ end }}</footer>
    </main>
  </body>
</html>
