{{ define "title" }}
  {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  <div id="site-summary" class="uw-typeset uw-font-size-md">
    <h2>Core</h2>
    <ul class="uw-mar-top-none">
      {{ range where .Pages "Section" "" }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>

    {{ range .Sections }}
      <h2>{{ .Title }}</h2>
      <ul class="uw-mar-top-none">
        {{ range .Pages }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
{{ end }}
