$dirs: (top, right, bottom, left);

@each $dir in $dirs {
  .uw-border-#{$dir} {
    border-#{$dir}: 1px solid #ddd !important;
  }
}

.uw-border-all {
  border: 1px solid #ddd !important;
}

.uw-border-radius {
  border-radius: 0.25rem !important;
}
