@import 'lib/main.scss';

#page-summary + hr {
  height: 3px;
  border-style: none;
  margin: 0;
  background: $color-gray-lighter;
}

.docs-example {
  &__live {
    & > :first-child {
      margin-top: 0;
    }

    [class^='uw-col'] {
      background: #dbeaff;
      outline: 1px dashed #97c1ff;
    }

    .uw-grid + .uw-grid {
      margin-top: 1rem;
    }

    .inner {
      min-height: 80px;
      background: #edf4ff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__code {
    background: #fafafa;

    pre {
      box-sizing: content-box;
      display: block;
      margin-bottom: 0;
    }

    code {
      padding: 1rem;
      box-sizing: content-box;
      display: block;
      overflow-y: scroll;
    }

    .p,
    .nt {
      color: #d91e18;
    }

    .na,
    .o {
      color: #2424b3;
    }

    .s {
      color: #008000;
    }
  }
}
