@import 'lib/styles/fonts';
@import 'lib/styles/lib';

#page-summary + hr {
  height: 3px;
  border-style: none;
  margin: 2rem 0 0 0;
  @include background-color('gray-light');
}

.docs-example {
  margin-top: 1.5rem;

  &__screen-indicator {
    margin-top: 0;
    text-align: right;
    @include text-color('gray-dark');
    @include font-size('xs');
  }

  &__live {
    & > :first-child {
      margin-top: 0;
    }

    [class^='uw-col'] {
      background: #dbeaff;
      outline: 1px dashed #97c1ff;
    }

    .uw-grid + .uw-grid {
      @include margin(top, 2);
    }

    .inner {
      min-height: 80px;
      background: #edf4ff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__code {
    background: #fafafa;

    pre {
      box-sizing: content-box;
      display: block;
      margin: 0;
    }

    code {
      padding: 1rem;
      line-height: 1.3;
      box-sizing: content-box;
      display: block;
      overflow-y: scroll;
    }

    .p,
    .nt {
      color: #d91e18;
    }

    .na,
    .o {
      color: #2424b3;
    }

    .s {
      color: #008000;
    }
  }
}

.docs-swatch {
  &__color {
    width: 100%;
    height: 128px;
    position: relative;
  }

  &__text {
    position: absolute;
    right: 1rem;
    bottom: 1rem;

    & > div {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      float: right;
    }

    & > div + div {
      margin-right: 0.5rem;
    }

    &--light {
      @include background-color('text-light');
    }

    &--dark {
      @include background-color('text-dark');
    }
  }

  &__description button {
    float: right;
  }
}

.docs-small-swatch {
  @include border-radius();
  @include font-size('xxs');
  width: 4rem;
  padding: 0.1rem 0.3rem;
  display: inline-block;

  &:before {
    content: '\a0';
  }
}

.uw-table__container code {
  background: none;
  white-space: nowrap;
}

.uw-table__container .token {
  @include border-radius();
  @include background-color('gray-80');
  @include font-family('mono');
  @include font-size('xxs');
  margin: 0 1px;
  padding: 0.1rem 0.3rem;
  display: inline-block;
}
