<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Alerts - Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
      <meta name="description" content="An alert keeps users informed of important and sometimes time-sensitive changes.">
    

    <link rel="stylesheet" href="/design-system/site.css" media="screen">
  </head>
  <body>
    <main>
      <header class="uw-border-bottom uw-pad-y-sm uw-mar-bottom-lg">
        <nav class="uw-container--lg uw-container--center">
          <p class="uw-font-size-md uw-mar-all-none">
            <a href="/design-system">Design System</a>
          </p>
        </nav>
      </header>

      <article class="uw-container--lg uw-container--center">
        
  <div id="page-summary" class="uw-typeset uw-font-size-md">
    <h1>Alerts</h1>
    
      <p class="uw-line-length-sm">An alert keeps users informed of important and sometimes time-sensitive changes.</p>
    
    
      <ul>
        
          <li><a href="#block-alerts">Block Alerts</a></li>
        
          <li><a href="#alert-groups">Alert Groups</a></li>
        
          <li><a href="#alert-descriptions">Alert Descriptions</a></li>
        
      </ul>
    
  </div>
  <hr>
  <div class="uw-typeset uw-line-length-md">
  <h2 id="block-alerts">Block Alerts</h2>

<p>Block alerts take up the width of the parent element and prominently display
application status information to the user.</p>

<p>Block alerts should be used when the status information being shown is
representative of the entire app&rsquo;s status and <strong>is not</strong> closely linked to a
particular input or action.</p>

<h3 id="info-alerts">Info Alerts</h3>

</div>


<div class="docs-example">
  

  <div class="docs-example__live uw-typeset">

<div class="uw-alert uw-alert--info">
  <div class="uw-alert__icon"></div>
  <div class="uw-alert__info">
    <p class="uw-alert__title">Alert title</p>
    <div class="uw-alert__description">
      <p>Optional description</p>
    </div>
  </div>
</div>

</div>

  <div class="docs-example__code uw-border uw-border-radius uw-mar-top-sm">
    <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert uw-alert--info&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__icon&#34;</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__info&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">p</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__title&#34;</span><span class="p">&gt;</span>Alert title<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__description&#34;</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>Optional description<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>
  </div>
</div>


<div class="uw-typeset uw-line-length-md">
  <h3 id="success-alerts">Success Alerts</h3>
</div>


<div class="docs-example">
  

  <div class="docs-example__live uw-typeset">

<div class="uw-alert uw-alert--success">
  <div class="uw-alert__icon"></div>
  <div class="uw-alert__info">
    <p class="uw-alert__title">Alert title</p>
    <div class="uw-alert__description">
      <p>Optional description</p>
    </div>
  </div>
</div>

</div>

  <div class="docs-example__code uw-border uw-border-radius uw-mar-top-sm">
    <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert uw-alert--success&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__icon&#34;</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__info&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">p</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__title&#34;</span><span class="p">&gt;</span>Alert title<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__description&#34;</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>Optional description<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>
  </div>
</div>


<div class="uw-typeset uw-line-length-md">
  <h3 id="warning-alerts">Warning Alerts</h3>
</div>


<div class="docs-example">
  

  <div class="docs-example__live uw-typeset">

<div class="uw-alert uw-alert--warning">
  <div class="uw-alert__icon"></div>
  <div class="uw-alert__info">
    <p class="uw-alert__title">Alert title</p>
    <div class="uw-alert__description">
      <p>Optional description</p>
    </div>
  </div>
</div>

</div>

  <div class="docs-example__code uw-border uw-border-radius uw-mar-top-sm">
    <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert uw-alert--warning&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__icon&#34;</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__info&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">p</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__title&#34;</span><span class="p">&gt;</span>Alert title<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__description&#34;</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>Optional description<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>
  </div>
</div>


<div class="uw-typeset uw-line-length-md">
  <h3 id="danger-alerts">Danger Alerts</h3>
</div>


<div class="docs-example">
  

  <div class="docs-example__live uw-typeset">

<div class="uw-alert uw-alert--danger">
  <div class="uw-alert__icon"></div>
  <div class="uw-alert__info">
    <p class="uw-alert__title">Alert title</p>
    <div class="uw-alert__description">
      <p>Optional description</p>
    </div>
  </div>
</div>

</div>

  <div class="docs-example__code uw-border uw-border-radius uw-mar-top-sm">
    <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert uw-alert--danger&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__icon&#34;</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__info&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">p</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__title&#34;</span><span class="p">&gt;</span>Alert title<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__description&#34;</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>Optional description<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>
  </div>
</div>


<div class="uw-typeset uw-line-length-md">
  <h2 id="alert-groups">Alert Groups</h2>

<p>Alert groups are useful when a single action produces multiple alerts. The alert
group indicates that a list of alerts was produced by a single action.
</div>


<div class="docs-example">
  

  <div class="docs-example__live uw-typeset">

<ul class="uw-alert-group">
  <li class="uw-alert uw-alert--danger">
    <div class="uw-alert__icon"></div>
    <div class="uw-alert__info">
      <p class="uw-alert__title">Danger title</p>
      <div class="uw-alert__description">This prevented a successful submission.</div>
    </div>
  </li>
  <li class="uw-alert uw-alert--warning">
    <div class="uw-alert__icon"></div>
    <div class="uw-alert__info">
      <p class="uw-alert__title">Warning title</p>
    </div>
  </li>
  <li class="uw-alert uw-alert--warning">
    <div class="uw-alert__icon"></div>
    <div class="uw-alert__info">
      <p class="uw-alert__title">Another warning title</p>
    </div>
  </li>
</ul>

</div>

  <div class="docs-example__code uw-border uw-border-radius uw-mar-top-sm">
    <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">ul</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert-group&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">li</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert uw-alert--danger&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__icon&#34;</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__info&#34;</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">p</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__title&#34;</span><span class="p">&gt;</span>Danger title<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__description&#34;</span><span class="p">&gt;</span>This prevented a successful submission.<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">li</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert uw-alert--warning&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__icon&#34;</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__info&#34;</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">p</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__title&#34;</span><span class="p">&gt;</span>Warning title<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">li</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert uw-alert--warning&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__icon&#34;</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__info&#34;</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">p</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__title&#34;</span><span class="p">&gt;</span>Another warning title<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">ul</span><span class="p">&gt;</span></code></pre></div>
  </div>
</div>


<div class="uw-typeset uw-line-length-md">
  <h2 id="alert-descriptions">Alert Descriptions</h2>

<p>The examples above only used a single line in the alert description but the
description element is built to accomodate more complex descriptions.</p>

<h3 id="no-description">No Description</h3>

<p>The alert description is not required and can be ommitted if the alert title is
sufficient.</p>

<p>The description <strong>should not</strong> be ommitted for <code>warning</code> and <code>danger</code> alerts.
The severity of these alerts requires more detailed communication to the user
about what has happened and if there is any response required from the user.</p>

</div>


<div class="docs-example">
  

  <div class="docs-example__live uw-typeset">

<div class="uw-alert uw-alert--success">
  <div class="uw-alert__icon"></div>
  <div class="uw-alert__info">
    <p class="uw-alert__title">A success alert with no description</p>
  </div>
</div>

</div>

  <div class="docs-example__code uw-border uw-border-radius uw-mar-top-sm">
    <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert uw-alert--success&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__icon&#34;</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__info&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">p</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__title&#34;</span><span class="p">&gt;</span>A success alert with no description<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>
  </div>
</div>


<div class="uw-typeset uw-line-length-md">
  <h3 id="short-descriptions">Short Descriptions</h3>

<p>If the alert description is a single snippet of text, it doesn&rsquo;t matter if the
text is wrapped by a paragraph tag. the formatting will be the same.</p>

<h3 id="multiline-descriptions">Multiline Descriptions</h3>

<p>The alert component also supports much longer descriptions with formatted text,
links, and even buttons.</p>

</div>


<div class="docs-example">
  

  <div class="docs-example__live uw-typeset">

<div class="uw-alert uw-alert--danger">
  <div class="uw-alert__icon"></div>
  <div class="uw-alert__info">
    <p class="uw-alert__title">Unable to load</p>
    <div class="uw-alert__description">
      <p>
        Mauris posuere, arcu a tincidunt tempor, ex justo semper
        augue, et ultricies urna eros at odio. Praesent cursus
        erat vitae dolor tempor, sit amet auctor arcu commodo.
      </p>
      <ul>
        <li>First item</li>
        <li>Second item</li>
        <li>Third item</li>
      </ul>
      <button class="uw-button--filled">Try again</button>
    </div>
  </div>
</div>

</div>

  <div class="docs-example__code uw-border uw-border-radius uw-mar-top-sm">
    <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert uw-alert--danger&#34;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__icon&#34;</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__info&#34;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">p</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__title&#34;</span><span class="p">&gt;</span>Unable to load<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-alert__description&#34;</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>
        Mauris posuere, arcu a tincidunt tempor, ex justo semper
        augue, et ultricies urna eros at odio. Praesent cursus
        erat vitae dolor tempor, sit amet auctor arcu commodo.
      <span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">ul</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;</span>First item<span class="p">&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;</span>Second item<span class="p">&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;</span>Third item<span class="p">&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
      <span class="p">&lt;/</span><span class="nt">ul</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">button</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;uw-button--filled&#34;</span><span class="p">&gt;</span>Try again<span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre></div>
  </div>
</div>



      </article>

      <footer class="uw-border-top uw-pad-y-sm uw-mar-top-lg">
        <div class="uw-container--lg uw-container--center">
          <p class="uw-text-align-center"><em>A copyright notice</em></p>
        </div>
      </footer>
    </main>

    <script src="/design-system/vendor.js"></script>
    <script src="/design-system/site.js"></script>
  </body>
</html>
