@import 'constants';

@mixin media-breakpoint-up($name) {
  $threshold: map-get($breakpoints, $name);
  @if $threshold {
    @media (min-width: $threshold) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-down($name) {
  $threshold: map-get($breakpoints, $name);
  @if $threshold {
    // Subtracing 2% of a unit makes sure that the 'up' and 'down' breakpoints
    // don't conflict when the display is exactly the width of the threshold. In
    // that case only the 'up' breakpoint will apply.
    @media (max-width: $threshold - 0.02) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin flex-column($col, $grid: 12) {
  $percent: ($col / $grid) * 100%;
  flex-basis: $percent;
  max-width: $percent;
}
