@import '../../src/styles/original/normalize';
@import '../../src/styles/original/typography';
@import '../../src/styles/original/spacing';
@import '../../src/styles/original/borders';
@import '../../src/styles/original/layout';
@import '../../src/styles/original/tables';
@import '../../src/styles/original/highlight';
@import '../../src/styles/original/buttons';

.docs-example {
  &__live {
    & > :first-child {
      margin-top: 0;
    }

    [class^='uw-col'] {
      background: #dbeaff;
      outline: 1px dashed #97c1ff;
    }

    .uw-grid + .uw-grid {
      margin-top: 1rem;
    }

    .inner {
      min-height: 80px;
      background: #edf4ff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__code {
    background: #fafafa;

    pre {
      box-sizing: content-box;
      display: block;
    }

    code {
      padding: 1rem;
      box-sizing: content-box;
      display: block;
      overflow-y: scroll;
    }
  }
}
